PORT=4000
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
CLIENT_URL=http://localhost:5173
POCKETBASE_URL=http://pocketbase-pb4fsqtvfzb6yjtnatsriw7o.176.112.158.3.sslip.io/
PB_ADMIN_EMAIL=
PB_ADMIN_PASSWORD=
PB_WORKSPACES_COLLECTION=workspaces
PB_USERS_COLLECTION=users
DEFAULT_WORKSPACE_NAME=Office Device Inventory
DEFAULT_WORKSPACE_ID=7hdaukcpiuzejeh
